@import "helpers";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$primary: #ffffff;
$text: #333333;
$heading: #555555;
$highlight-bg: #f0f0f0;
$highlight-text: #6893c4;

/** Header
---------------------------------------- */
#header {
  
}

/** Primary Nav
---------------------------------------- */
#navigation {
  
}

/** Side Nav
---------------------------------------- */
.menu-block {
  
}

/** Footer
---------------------------------------- */
#footer {
  
}

/** Nodes
---------------------------------------- */

/** Pages
---------------------------------------- */

/** Block
---------------------------------------- */

/** Form
---------------------------------------- */

/** Table
---------------------------------------- */

/** Views
---------------------------------------- */


/** Layout
---------------------------------------- */
/** You should get rid of this
    Just handy to have some style when develing
---------------------------------------- */
#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 80%;
  left: 20%; /* LTR */
}
body.sidebar-second #content {
  width: 80%;
}
body.two-sidebars #content {
  width: 60%;
  left: 20%;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

#sidebar-first {
  width: 20%;
}
#sidebar-second {
  float: right; /* LTR */
  width: 20%;
}
img {
  max-width: 100%;
}


/** Clearfix
---------------------------------------- */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}